.app.dark {
  background-color: #111;
}

.app.dark a {
  color: rgb(156, 156, 156);
}

.app.dark .header {
  border-color: rgb(66, 64, 64);
}

.app.dark .btn {
  background-color: #202020;
  color: #808080;
  border-color: #202020;
}

.app.dark .btn:focus {
  outline-color: #555;
}

.app.dark .heading h1 {
  color: rgb(156, 156, 156);
}

.app.dark .heading p {
  color: rgb(94, 92, 92);
}

.app.dark .form-group label {
  color: rgb(156, 156, 156);
}

.app.dark .form-group input,
.app.dark .form-group textarea,
.app.dark .form-group select {
  border-color: rgb(66, 64, 64);
  caret-color: rgb(156, 156, 156);
}

.app.dark .form-group input:focus,
.app.dark .form-group textarea:focus,
.app.dark .form-group select:focus {
  outline-color: rgb(156, 156, 156);
}

.app.dark .goal {
  background-color: rgb(20, 19, 19);
}

.app.dark .container-darkmode {
  background-color: #131417;
  -webkit-box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5);
}

.app.dark .wrapper {
  background-color: #e4e4e8;
}

.app.dark .wrapper > * {
  color: #39393c;
}
